body {
    background-color: #ffd2b9;
    margin: 0rem 0rem 0rem 0rem;
    font-family: futura;
    color: #fa8c84;
    min-height: 100vh;
    flex-direction: column;
}
/*header */

header {
    background-color: #fa8c84;
    margin: 0rem 0rem 0rem 0rem;
}

header > img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
}

/* Navigation */

nav {
    background-color: #5A957E;
    color: whitesmoke;
    margin: -1rem 0rem 0rem 0rem;
    height: 3rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 0rem;
    line-height: 2rem;
}

/* Main */

main {
    margin: auto 5% auto 5%;
}

h1 {
    font-size: 3rem;
}

h1 + p {
    padding: 0rem;
    margin-top: -2rem;
}

h2 {
    font-size: 2rem;
}


section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    display: flex;
    margin-top: auto;
}

footer div {
    flex: 1;
}